.*
!.gitignore

*.class

# Package Files #
*.jar
*.war

target/

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

#gwt junit compilation files
www-test/

